body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 2%;
  padding: 2px;
}

@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .gallery {
    flex-direction: row;
  }
}
